/* Désactive le comportement CSS de votre navigateur */
* {
	margin: 0;
	padding: 0;
}

/* 
 * Permet de centrer des éléments avec des 
 * avec des "bandes" blanche sur les côtés.
 */ 
.container {
	width: 80%;
	margin: auto;
}

/* Bande full width en couleur */
nav {
	width: 100%;
	height: 50px;
	background-color: #007560;
	position: fixed;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Permet de séparer (gauche/droite) le logo et le menu ul */
nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 
 * Centre mon image en réduisant sa taille de 10px
 * par rapport à la taille du menu (50px)
 */
nav .logo img {
	margin-top: 5px;
	height: 40px;
}

/* Change l'ul en liste horizontale */
nav .menu ul {
	display: flex;
	flex-direction: row;
}

nav .menu ul li {
	list-style: none;
	margin-left: 10px;
	color: #fff;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: grey;
	height: 500px;
}

.bloc {
	width: 25%;
	height: 150px;
}

.orange {
	background-color: orange;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}